
.midi-frame{
  width:100%;
  border-color:black;
  border-style:solid;
  border-width:1px;

  display:grid;
  grid-template-columns:var(--key-width) 1fr;
}
div.midi-frame{
  height:var(--editor-height);
  /* overflow:hidden; */
  /* overflow-x:hidden;
  overflow-y:scroll; */
}
