.timebar-area{
  overflow-y:visible;
  overflow-x:scroll;
  -ms-overflow-style: none;
}
.timebar-area::-webkit-scrollbar{
  display:none;
}
.timebar-area .timebar{
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  top:50%;
  left:0;
  transform:translate(-50%,-50%);
  cursor:pointer;
  /* filter:drop-shadow(2px 2px 1px rgba(0,0,0,0.3)); */
}
.timebar-area .timebar:hover{
  fill:orange;
}
.timebar-area .timebar:active{
  fill:red;
}
.timebar-area .timebar-scroll{
  position:relative;
  height:100%;
}

.timebar-left{
  border-right:1px solid black;
}

.editor .line{
  position:absolute;
  left:0px;
  top:0;
  width:1px;
  height:100%;
  background-color:#F00A;
  box-shadow:1px 0 4px rgba(0,0,0,0.5);
}
